.header {
  background-color: #304d30;
  color: #eef0e5;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  margin: 10px 0px 20px 0px;
}

/* .headerContainer.listMode {
  margin: 20px 0px 0px 0px;
} */

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
}

/* .headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
} */

.headerListItem:hover {
  /* border: 1px solid #b6c4b6; */
  cursor: pointer;
  color: #304d30;
  background-color: #b6c4b6;
  border-radius: 8px;
}

/* .headerTitle {
  text-align: center;
}

.headerDesc {
  text-align: center;
} */

.headerBtn {
  background-color: #304d30;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.headerSearch {
  height: min-content;
  background-color: white;
  border: 3px solid #163020;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  width: 90%;
  margin-top: 4rem;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: gray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 260px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #163020;
  color: #163020;
  cursor: pointer;
  background-color: #b6c4b6;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
