.navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  color: black;
}

.navContainer {
  background-color: #ffd700;
  display: flex;
  flex-direction: column;
  height:80px;
  width: 100%;
  justify-content: space-around;
  color: black;
}

.logo{
  font-size: 32pt;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
  height:30px;
  background-color: #ffd700;
}

.navButton {
  background-color: #0071c2;
  color: white;
  margin: 0px 4px 5px 4px ;
  padding: 5px;
  border: 0cm;
  font-size: 16px;
}

.navButton:hover{
  background-color: #11518a;
  color: #ffd700;
  cursor: pointer;
}