.App {  
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #11518a;
  background-color: #ffd700;
  height: 30px;
}

/*  Navbar CSS */
.navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}

.navbarContainer {
  background-color: #ffd700;
  display: flex;
  height:60px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbarItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  height:40px;
  margin-left: 6px;
}

.navbarButton {
  background-color: white;
  margin: 6px;
  padding: 5px;
  border: 0cm;
  font-size: 18px;
}

.navbarButton:hover{
  background-color: #11518a;
  color: #ffd700;
  cursor: pointer;
}

.li {
  font-size: 20px;
  font-weight: bold;
}

.li:hover {
  color: #11518a;
  cursor: pointer;
}

/* Home CSS */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: antiquewhite;
  
}

/* Content CSS */
.content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contentItems {
  position: relative;
  color: white;
  overflow: hidden;
  height: 300px;
  margin: 2px;
}

.contentImgs {
  width: 100%;
  object-fit: cover;
}

.contentTitles {
  font-size: small;
  color: white;
  left: 20px;
  position: absolute;
  bottom:20px
}

/* Login CSS */
.login {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(140, 214, 229);

}

.form {
  text-align: center;
  color: white;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 550px;
  padding: 20px;
  width: 325px;
  background-image: url('https://images.unsplash.com/photo-1680925723180-ff3cb559c9b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60');
}

.signup {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  font-size: larger;
  font-weight: 599;
	
}

.inputContainer {
  display: grid;
  margin-top: 100px;
  height: 100px;
  width: 280px;
}

.input {
  position: relative;
  display: block;
  margin-left: 2%;
  margin-bottom: 10px;
}

.loginBtn {
  margin-top: 8px;
  width: 100px;
  border-radius: 10px;
  height: 30px;
}

.loginBtn:hover {
  background-color: darkcyan;
  color: whitesmoke;
}

.registerBtn {
  margin-top: 8px;
  width: 100px;
  border-radius: 10px;
  height: 30px;
}

.registerBtn:hover {
  background-color: darkcyan;
  color: whitesmoke;
}

.registerText {
  position: relative;
  margin-top: 30px;
  font-weight: 500;
  font-display: 20px;
  text-decoration: underline;
  color:snow;
}

button:disabled {
  background-color: grey;
  color: black;
  cursor: not-allowed;
}

.submitBtn {
  cursor: pointer;
  background-color:limegreen;
  color: whitesmoke;
  margin-top: 8px;
  width: 100px;
  border-radius: 10px;
  height: 30px;
}