.App {  
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #11518a;
  background-color: #ffd700;
  height: 30px;
}

/*  Navbar CSS */
.navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}

.navbarContainer {
  background-color: #ffd700;
  display: flex;
  height:60px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbarItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  height:40px;
  margin-left: 6px;
}

.navbarButton {
  background-color: white;
  margin: 6px;
  padding: 5px;
  border: 0cm;
  font-size: 18px;
}

.navbarButton:hover{
  background-color: #11518a;
  color: #ffd700;
  cursor: pointer;
}

.li {
  font-size: 20px;
  font-weight: bold;
}

.li:hover {
  color: #11518a;
  cursor: pointer;
}

/* Home CSS */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: antiquewhite;
  
}

/* Content CSS */
.content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contentItems {
  position: relative;
  color: white;
  overflow: hidden;
  height: 300px;
  margin: 2px;
}

.contentImgs {
  width: 100%;
  object-fit: cover;
}

.contentTitles {
  font-size: small;
  color: white;
  left: 20px;
  position: absolute;
  bottom:20px
}

/* Login CSS */
.login {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(140, 214, 229);
}

.form {
  color: white;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 300px;
  padding: 20px;
  width: 320px;
}

.loginContainer {
  height: 150px;
}